<h1>About</h1>
<p>To become a UX/UI designer or engineer at a startup or as freelancer in Berlin that gives me the freedom and time to be with my family, and be creative and have variety every day at work , I  want to work with an employer who has hopes and want to achieve a great goal to help the community, allowing me to help and add from different aspects and respects new ideas. Since I worked in different fields since I was 14 years old, I’ve experienced the difference in how people think and respond and the values each stakeholder has from their point of view. I can offer help in many other fields like project management, business development, budgeting, planning and even pitching. I have a mind for auditing and testing and can bring a variety of skills, intermediate web development skills, Illustrator ,and Excel and let us not forget about the presentation skills I have no fear standing Infront of anyone in any number.
<br>
<%= link_to "check my linkedin", "https://www.linkedin.com/in/basmaelgeziry/" %>
<!-- <a href="https://www.linkedin.com/in/basmaelgeziry/"></a> -->
</p>
