<h1>About</h1>
<p>My name is Basma Elgeziry and I am a mother and a wife, plus a UX/UI engineer
<br>
<%= link_to "check my linkedin", "https://www.linkedin.com/in/basmaelgeziry/" %>
<!-- <a href="https://www.linkedin.com/in/basmaelgeziry/"></a> -->
</p>
